<section class="thirteen columns">
    <h1>Certificates</h1>
    <article>
        <header>
            <h1>CCNA Routing and Switching</h1>
            <span><address>Lodz University of Technology, PL</address><time>2014</time></span>
        </header>
        <p>
            Cisco Certified Network Associate ( CCNA ) in Routing and Switching
        </p>
    </article>
    <article>
        <header>
            <h1>Web Development and Design based on CMS</h1>
            <span><address>University of Seville, ES</address><time>2012</time></span>
        </header>
    </article>
</section>