<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Engineering and Software Technologies</h1>
            <span>University of Seville</span>
            <span><address>Seville, ES</address><time>2016 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Degree in Software Engineering</h1>
            <span>University of Seville</span>
            <span><address>Seville, ES</address><time>2011 to 2016</time></span>
        </header>
        <p>
            <em>Thesis: Automatic error detection in RESTful web services.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Degree in Computer Science and Information Technology</h1>
            <span>Lodz University of Technology</span>
            <span><address>Lodz, PL</address><time>2013 to 2014</time></span>
        </header>
        <p>
            <em>Courses taken under the Erasmus Exchange programme.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Telecommunications and Computer Science</h1>
            <span>Lodz University of Technology</span>
            <span><address>Lodz, PL</address><time>2013 to 2014</time></span>
        </header>
        <p>
            <em>Courses taken under the Erasmus Exchange programme.</em>
        </p>
    </article>

</section>
