<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Junior Web Developer</h1>
            <span><address><a target="_blank" href="http://clearpeaks.com">ClearPeaks</a>, Barcelona, ES</address><time>2017 to Present</time></span>
        </header>
        <p>We offer over a decade of experience in delivering successful BI projects into valued customers across EMEA, 
        into a diverse range of industries and based on the latest market leading, enterprise BI technologies. 
        Our growth continues but our appetite for quality and customer satisfaction remains undiminished.
        </p>
    </article>
    <article>
        <header>
            <h1>IT Committee developer</h1>
            <span><address><a target="_blank" href="http://esn.org">Erasmus Student Network</a>, Brussels, BE</address><time>2016 to Present</time></span>
        </header>
        <p>The IT Committee, which works closely with the Web Project Administrator, aims at strengthening ESN by
            developing IT systems for the whole Network and by providing assistance and advice about technological
            matters in general.
        </p>
    </article>
    <article>
        <header>
            <h1>National IT Responsible</h1>
            <span><address><a target="_blank" href="http://esn-spain.org">Erasmus Student Network Spain</a>, Seville, ES</address><time>2015 to Present</time></span>
        </header>
        <p>Development and maintenance of the corporate website of the association with the domain
            <a target="_blank" href="http://esn-spain.org">esn-spain.org</a> and
            all its subdomains.
            <lu>
                <li>IT management tools (Google tools: drive, custom groups, mailing lists, GSuite ...)</li>
                <li>Support to the 34 sections that make up the network of ESN Spain spread throughout the country.</li>
                <li>Technical support in all national and international events organised by the federation ESN Spain.
                </li>
            </lu>
        </p>
    </article>
</section>
